
@font-face {
  font-family: 'BMWGroup-Bold';
  src: url('BMWGroup-Bold.eot?#iefix') format('embedded-opentype'),  url('BMWGroup-Bold.woff') format('woff'), url('BMWGroup-Bold.ttf')  format('truetype'), url('BMWGroup-Bold.svg#BMWGroup-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
