
@font-face {
  font-family: 'BMWGroup-Regular';
  src: url('BMWGroup-Regular.eot?#iefix') format('embedded-opentype'),  url('BMWGroup-Regular.woff') format('woff'), url('BMWGroup-Regular.ttf')  format('truetype'), url('BMWGroup-Regular.svg#BMWGroup-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
